<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/common/dashboard-layout/dash-layout">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>

</head>
<body>

	<div layout:fragment="content">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0 text-dark">Dashboard</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Dashboard v1</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<!-- End Main content -->
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="m-0">Question Sets</h4>
				</div>
				<div class="card-body">
					<table id="example" class="table table-striped table-sm"
						style="width: 100%">
						<thead>
							<tr>
								<td><b>Username</b></td>
								<td><b>Phone</b></td>
								<td><b>Email</b></td>
								<td><b>Set Name</b></td>
								<td><b>Download Answer</b></td>
								<td><b>Date</b></td>
								<td><b>Reviewed</b></td>
								<td><b>Action</b></td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="sets :${answerSheet}">
								<td><span th:text="${sets.userName}" th:remove="tag"></span></td>
								<td><span th:text="${sets.phone}" th:remove="tag"></span></td>
								<td><span th:text="${sets.emailId}" th:remove="tag"></span></td>
								<td><span th:text="${sets.setName}" th:remove="tag"></span></td>
								<td><i class="fa-solid fa-file-pdf"></i>&nbsp;<a
									type='button'
									th:href="@{download/answer/file/{filename}(filename=${sets.fileName})}"
									class="add_question_button" target="_blank">Download Answer</a>
								</td>
								<td><span th:text="${sets.uploadDateTime}" th:remove="tag"></span></td>
								<td>
									<div th:if="${sets.evaluated}">
										<a
											th:href="@{/reviewcomment?name={name}&phone={phone}&email={emailId}&setName={setName}(name=${sets.userName}, emailId=${sets.emailId}, phone=${sets.phone}, setName=${sets.setName})}"><font
											color="green">View Comment</font></a>
									</div> <!-- ELSE -->
									<div th:unless="${sets.evaluated}">
										<form action="/upload-review" method="get">
											<font color="red">Review Pending.</font> <input type="hidden"
												name="userName" id="userName" th:value="${sets.userName}">
											<input type="hidden" name="phone" id="phone"
												th:value="${sets.phone}"> <input type="hidden"
												name="emailId" id="emailId" th:value="${sets.emailId}">
											<input type="hidden" name="courseName" id="courseName"
												th:value="${sets.course}"> <input type="hidden"
												name="subjectName" id="subjectName"
												th:value="${sets.subjectName}"> <input type="hidden"
												name="setName" id="setName" th:value="${sets.setName}">
											<input type="hidden" name="fileName" id="fileName"
												th:value="${sets.fileName}">
											<!-- <input type="submit" value="Upload Review" id="submit"> -->
											<div>
												<input type="submit" value="Upload Review" id="submit">
											</div>
										</form>
									</div>

								</td>
								<td><button id="deleteQueSet" class="btn btn-danger">Delete</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

</body>
</html>