<!DOCTYPE html>
<html lang="en">
<head>
<title>Score Well - An Institute for Civil Services Examination</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="css/layout.css" rel="stylesheet" type="text/css" media="all">
<!-- <link href="css/about.css" rel="stylesheet" type="text/css" media="all"> -->
<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap4/bootstrap.min.css"> -->
<link rel="stylesheet" type="text/css" href="css/custom.css">
<link rel="stylesheet" type="text/css" href="css/responsive.css">

</head>
<body id="top">
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="wrapper row0">
		<header id="header" class="hoc">
			<div id="logo" class="fl_left">
				<h1>
					<a href="/home">Score Well</a>
				</h1>
			</div>
			<!-- <div id="logo" class="fl_left">
						<img src="img/logo.png" alt="">
					</div> -->
			<div class="fl_right">
			
				<form th:action="@{/logout}" method="get">
					<button class="logout-btn btn-md btn-danger btn-block" name="registration" type="Submit">Logout</button>
				</form>
				
			</div>
		</header>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="wrapper row1">
		<div id="topbar" class="clear">
			<nav id="mainav" class="fl_left">
				<ul class="clear">
					<li><a href="/home">Home</a></li>
					<li><a href="/about">About us</a></li>
					<li><a href="/course-info">Courses</a></li>
					<li><a href="/career">Careers</a></li>
					<li><a href="/contact">Contact</a></li>
					<!-- <li><a href="/resource">Resource</a></li> -->
				</ul>
			</nav>
			<!-- <div id="search" class="fl_right">
				<form class="clear" method="post" action="#">
					<fieldset>
						<legend>Search:</legend>
						<input type="text" value="" placeholder="Search Here">
						<button class="fa fa-search" type="submit" title="Search">
							<em>Search</em>
						</button>
					</fieldset>
				</form>
			</div> -->
		</div>
	</div>
	

	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="wrapper row2">
		<div class="overlay">
			<div id="breadcrumb" class="clear">
				<ul>
					<li><a href="/home">Home</a></li>
					<li><a href="/daily-questions?course=IAS">IAS question</a></li>
					<li><a href="/set-list">Set List</a></li>
				</ul>
			</div>
		</div>

	</div>

	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->

	<div class="wrapper row3">
		<main class="container clear"> <!-- main body --> <!-- ################################################################################################ -->
		<div class="sidebar one_quarter first">
			<!-- ################################################################################################ -->
			<div class="sdb_holder">
				<h6>Evaluated Answer Sheets</h6>
				<form action="/set-list" method="get">
					
					<div>
						&nbsp;<label for="name">Phone No. <span>*</span></label> <input
							type="text" name="phone" id="phone" value="" size="22">
					</div>
					<div>
						&nbsp;<label for="email">Email <span>*</span></label> <input type="text"
							name="email" id="email" value="" size="22">
					</div>
					<div>
						&nbsp;<input type="submit" value="Submit" id="submit">
						<span id="result"></span>
					</div>
				</form>
			</div>
			<!-- ################################################################################################ -->
		</div>
		<!-- ################################################################################################ -->
		<!-- ################################################################################################ -->
		<div class="content three_quarter">
			<!-- ################################################################################################ -->
			<h1 class="text-center"><B>Score Well Answer Writing Program</B></h1>
			
			<div id="gen_study">
				<div id="comments">
					
					<h2>Question Sets</h2>
					<ul>
						<div class="scrollable">
							<table>
								<thead>
									<tr>
										<th>User Name</th>
						              	<th>Set Name</th>
						              	<th>Submitted Answer</th>
						              	<th>Reviewed</th>
						            </tr>
						            <tbody>
						            	<tr th:if="${sets.empty}">
						            		<td colspan="4"> No Answers uploaded yet. </td>
						            	</tr>
						            	<tr th:each="sets : ${sets}">
								            <td><span th:text="${sets.userName}"> User Name </span></td>
								            <td><span th:text="${sets.setName}"> Set Name </span></td>
								            <td><a th:href="@{/download/answer/file/{fileName}(fileName=${sets.fileName})}" target="_blank"><font color="green">Download Answer</font></a></td>

											<div th:if="${sets.evaluated}">

												<div th:if="${sets.reviewComment != null}">
													<td>
														<a th:href="@{/reviewcomment(name=${sets.userName}, phone=${sets.phone}, email=${sets.emailId}, setName=${sets.setName})}"><font color="green">View Comment</font></a>
	
														<!-- <a href="/reviewcomment?name=${sets.userName}&phone=${sets.phone}&email=${sets.emailId}&setName=${sets.setName}"><font
															color="green">View Comment</font></a></td> -->
												</div>
												<div th:unless="${sets.reviewComment != null}">
													<td><a th:href="@{/download/reviewed/file/{fileName}(fileName=${sets.fileName})}" target="_blank"><font color="green">Download Review</font></a></td>
												
													<!-- <td>
													<a type='button' href="download/reviewed/file/${sets.fileName}" class="add_question_button" target="_blank"><font color="green">Download Review</font></a>
													</td> -->
												</div>

											</div>
										</tr>
						            
						            </tbody>
						            
						            
						            
						            
						            
						            <!-- <c:forEach var="sets" items="${sets}">
				            			<tr>
				            				<td>${sets.userName}</td>
							              	<td>${sets.setName}</td>
							              	<td><a type='button' href="download/answer/file/${sets.fileName}" class="add_question_button" target="_blank">Download Answer</a></td>
						              		<c:choose>
							              		<c:when test="${sets.evaluated == true }">
							              			<c:choose>
							              				<c:when test="${empty sets.reviewComment}">
							              				<td><a type='button' href="download/reviewed/file/${sets.fileName}" class="add_question_button" target="_blank"><font color="green">Download Review</font></a></td>
							              				</c:when>
							              				<c:otherwise>
															<td><a
																href="/reviewcomment?name=${sets.userName}&phone=${sets.phone}&email=${sets.emailId}&setName=${sets.setName}"><font
																	color="green">View Comment</font></a></td>
														</c:otherwise>
							              			</c:choose>
								              	</c:when>
								              	<c:otherwise>
										            <td>Review Pending.</td>
									         	</c:otherwise>
						              		</c:choose>
						            	</tr>
						            </c:forEach> -->
								</thead>
							</table>
						</div>
					</ul>
				</div>
			</div>
			<!-- ################################################################################################ -->
		</div>
		<!-- ################################################################################################ -->
		<!-- / main body -->
		<div class="clear"></div>
		</main>
	</div>
	
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	
	
	<div class="wrapper row5">
		<footer id="footer" class="clear">
			<!-- ################################################################################################ -->
			<div class="one_third first">
				<h6 class="title">Address</h6>
				<address class="btmspace-15">
					Score Well<br>Sector-11<br>Dwarka, New Delhi <br> Delhi (India), 110075
				</address>
				<ul class="nospace">
					<li class="btmspace-10"><span class="fa fa-phone"></span> 8092480750</li>
					<li><span class="fa fa-envelope-o"></span> teamscorewell@gmail.com</li>
				</ul>
			</div>
			<div class="one_third">
				<h6 class="title">Quick Links</h6>
				<ul class="nospace linklist">
					<li><a href="/home">Home</a></li>
					<li><a href="/about">About us</a></li>
					<li><a href="/course-info">Courses</a></li>
					<li><a href="/career">Careers</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div class="one_third">
			
				<!-- <div id="logo" class="fl_left">
					<h1>
						<a href="/home">Score Well</a>
					</h1>
					
				</div> -->
				
				<div class="footer_section footer_about">
						<div class="footer_logo_text">Score<span> Well</span></div>
						<div class="footer_social">
							<ul class="nospace linklist">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
			</div>
		</footer>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="wrapper row6">
		<div id="copyright" class="clear">
			<!-- ################################################################################################ -->
			<p class="fl_left">
				Copyright &copy; 2019 - All Rights Reserved - <a href="/home">Score Well</a>
			</p>
			<!-- ################################################################################################ -->
		</div>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
	<!-- JAVASCRIPTS -->
	<script src="js/jquery.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.backtotop.js"></script>
	<script src="js/jquery.mobilemenu.js"></script>
<!-- 	<script src="js/setList.js"></script> -->
	
</body>
</html>